<div class="plumbing">
    <div class="coming-soon-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="coming-soon-content">
                        <div class="logo">
                            <a routerLink="/plumbing"><img src="assets/new-project/img/logo.png" alt="image"></a>
                        </div>
                        <h5 style="color: white;">Does Your Roof Qualify? Take our 30-Second Solar Roof Survey & Find Out!</h5>
                        <p>Click The Button Below To Check Your Address In 30 Seconds.</p>

                        <form class="newsletter-form">
                            <input type="email" class="input-newsletter" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
        
                            <button (click)= gettingStarted()>Get Started</button>
                        </form>

                        <app-countdown></app-countdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>