<section id="about" class="about-area pb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/new-project/blog-images/about-us.png" class="main-image" alt="image">

                    <div class="shape">
                        <img src="assets/new-project/blog-images/about-shape1.png" alt="image">
                        <img src="assets/new-project/blog-images/about-shape2.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <span class="sub-title">About Us</span>
                    <h2>Our mission and goal </h2>

                    <p>
                        The world we live in isn't the same world we knew before. We now live in a generation 
                        forced into isolation with outbreaks of coronavirus.. half of the country has been set in a blaze, 
                        while the other half is facing the ravaging weather disasters. These are all apocalyptic 
                        scenarios we thought only existed in the history books.
                    </p>

                    <p>
                        While we know things won't be the way they were again, we have the opportunity 
                        to make a difference in this world by utilizing our background in AI developments to speed up 
                        the change our society needs to reduce greenhouse gas emissions by promoting the switch to solar.
                        Our advanced technology is making it possible to nearly cut the cost of the traditional electic 
                        bill in half, making it easier than ever for each homeowner to become the difference.
                    </p>

                    <div class="btn-box">
                        <a href="#" class="default-btn"  data-toggle="modal" data-target="#contactModal">Contact Me</a>
                        <a href="mailto:hello@iSolarOS.com" class="email">hello@iSolarOS.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../js/appear.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/odometer.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/wow.min.js"></script>
