<section id="blog" class="blog-area pb-70">
    <div class="container">
        <div class="section-title">
            <span style="color:#ee0979;">From The Blog</span>
            <h2>Latest insights are on top all times</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="assets/new-project/img1.jpg">
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <a routerLink="/">Fashion</a>
                                <a routerLink="/">Lifestyle</a>
                            </li>
                            <li>4 min read</li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to Successfully Negotiate with Influencers</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="assets/new-project/img2.jpg" alt="image">
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <a routerLink="/">Travel</a>
                                <a routerLink="/">Style</a>
                            </li>
                            <li>3 min read</li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to Find the Perfect Influencers for Your Niche</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="assets/new-project/img3.jpg" alt="image">
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <a routerLink="/">Fashion</a>
                                <a routerLink="/">Travel</a>
                            </li>
                            <li>6 min read</li>
                        </ul>
                        <h3><a routerLink="/blog-details">How Micro-Influencers Can Transform Your Business</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="assets/new-project/img4.jpg" alt="image">
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <a routerLink="/">Lifestyle</a>
                                <a routerLink="/">Travel</a>
                            </li>
                            <li>5 min read</li>
                        </ul>
                        <h3><a routerLink="/blog-details">Influencer Marketing Trends to Expect in 2020</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../js/appear.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/odometer.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/wow.min.js"></script>