<div class="auto-servicing">
    <div class="coming-soon-area ripple-playing jquery-ripples">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="coming-soon-content">
                                <div class="logo">
                                    <a routerLink="/auto-servicing"><img src="assets/new-project/img/logo.png" alt="logo"></a>
                                </div>
    
                                <h5 style="color: white;">Does Your Roof Qualify? Take our 30-Second Solar Roof Survey & Find Out!</h5>
                                <p>Click The Button Below To Check Your Address In 30 Seconds</p>
    
                                <form class="newsletter-form">
                                    <input type="email" class="input-newsletter" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
                
                                    <button (click)= gettingStarted()>Get Started <i class="far fa-paper-plane"></i></button>
                                </form>
    
                                <div class="social">
                                    <ul>
                                        <li><a href="#" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank" class="youtube"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" target="_blank" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
    
                                <div class="copyright-text">
                                    <p><i class="far fa-copyright"></i> Copyright 2020 - iSolarOS, All Rights Reserved</p>
                                    <p><i class="far fa-copyright"></i> This site is not a part of the Facebook website or Facebook Inc. Additionally, This site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>