<section id="instagramAudience" class="audience-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="audience-image">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="image">
                                <img src="assets/new-project/blog-images/audience-img1.jpg" alt="image">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="image">
                                <img src="assets/new-project/blog-images/audience-img2.jpg" alt="image">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="image">
                                <img src="assets/new-project/blog-images/audience-img3.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="followers-engagement-rate">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6">
                            <h3><span class="odometer" data-count="275">00</span>K</h3>
                            <p>followers</p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-6">
                            <h3><span class="odometer" data-count="13">00</span>%</h3>
                            <p>average post engagement rate</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="audience-content">
                    <span class="sub-title"><a href="#">@ISOLAROS</a></span>
                    <h2>Making the Difference</h2>

                    <div class="audience-content-inner instagram-audience-content">
                        <h5>Promoting The Change</h5>

                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-5">
                                <div class="audience-text">
                                    <h4>78% <span>female</span></h4>
                                    <h4>25-35 <span>years old</span></h4>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-7">
                                <div class="audience-item">
                                    <div class="audience-header">
                                        <div class="count-box"><span class="count-text" data-speed="2000" data-stop="95.5">0</span>%</div>
                                        US
                                    </div>
                                    <div class="audience-bar">
                                        <div class="bar-inner"><div class="bar progress-line" data-width="95.5"></div></div>
                                    </div>
                                </div>

                                <div class="audience-item">
                                    <div class="audience-header">
                                        <div class="count-box"><span class="count-text" data-speed="2000" data-stop="80.2">0</span>%</div>
                                        UK
                                    </div>
                                    <div class="audience-bar">
                                        <div class="bar-inner"><div class="bar progress-line" data-width="80.2"></div></div>
                                    </div>
                                </div>

                                <div class="audience-item">
                                    <div class="audience-header">
                                        <div class="count-box"><span class="count-text" data-speed="2000" data-stop="70.6">0</span>%</div>
                                        Canada
                                    </div>
                                    <div class="audience-bar">
                                        <div class="bar-inner"><div class="bar progress-line" data-width="70.6"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="audience-content-inner instagram-collaborations-content">
                        <h5>Behind the Scenes</h5>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-collaborations-box">
                                    <img src="assets/new-project/blog-images/majority-women-owned.jpg" alt="image">
                                    <h3>Female Majority</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-collaborations-box">
                                    <img src="assets/new-project/blog-images/military-family-operated.jpg" alt="image">
                                    <h3>Military Family Operated</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../js/appear.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/odometer.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/wow.min.js"></script>