<div class="body"> 
    <div class="container"> 
    <div class="row">
        <!--
        <div class="logo">
           <img src="assets/img/logo-01.png" >
        </div>
        -->
    </div>
    <div class="row desktop-view">
       <div class="col-6 align-self-center">
        <div style="margin-top: 20px">
                <img src="assets/new-project/not-qualified-img/03.png" class="img-fluid" style="display: block;margin: 0 auto;">
           </div>
           <div style="margin-top: 20px" >
                <img src="assets/new-project/not-qualified-img/04.png"class="img-fluid" style="display: block;margin: 0 auto;width:80%;"> 
           </div>
           <div style="margin-top: 50px" >
            <img src="assets/new-project/not-qualified-img/05.png" class="img-fluid"style="display: block;margin: 0 auto; cursor : pointer" (click) = "gotoSurvey()"> 
        </div>
       </div>
    
        <div class="col-6 align-self-center">
            <div style="margin-top: 150px"> 
                <img src="assets/new-project/not-qualified-img/01.png" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="row mobile-view">
        <div class="col-12 align-self-center">
             <div style="margin-top: 60px">
                 <img src="assets/new-project/not-qualified-img/03.png" class="img-fluid" style="display: block;margin: 0 auto;width:60%;">
            </div>
            <div style="margin-top: 20px" >
                 <img src="assets/new-project/not-qualified-img/04.png"class="img-fluid" style="display: block;margin: 0 auto;width:80%;"> 
            </div>
            <div style="margin-top: 30px"> 
                <img src="assets/new-project/not-qualified-img/01.png" class="img-fluid">
            </div>
            <div style="margin-top: 50px" >
                <img src="assets/new-project/not-qualified-img/05.png" class="img-fluid" style="display: block;margin: 0 auto;width:80%; cursor : pointer" (click) = "gotoSurvey()"> 
            </div>
        </div>
     </div>
    <!-- <div class="row"> 
        <div class="col-sm">
            <div style="margin-top: 40px">
                <img src="assets/appointment-images/03.png" class="img-responsive" style="display: block;margin: 0 auto;" width="250px">
           </div>
           <div style="margin-top: 60px" >
                <img src="assets/appointment-images/07.png" style="display: block;margin: 0 auto;"width="250px"> 
           </div>
           <div style="margin-top: 50px" >
            <img src="assets/appointment-images/06.png" style="display: block;margin: 0 auto;" width="250px"> 
       </div>
        </div>
        
        <div class="col-sm">
            <div>
                <img src="assets/appointment-images/01.png" width="300px">
           </div>
        </div>
    </div> -->
    </div>
    </div>
    
