<footer class="footer-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <p>Copyright <i class="flaticon-copyright"></i> 2020 Recall. Designed by <a href="/../">iSolarOS</a></p>
            </div>

            <div class="col-lg-6 col-md-6">
                <ul>
                    <li><a href="https://www.facebook.com/isolaros/" target="_blank"><i class="flaticon-facebook"></i></a></li>
                    <li><a href="https://twitter.com/iSolarOS1" target="_blank"><i class="flaticon-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/isolaros/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                    <li><a href="https://www.pinterest.com/9bfd4e04eb779fe24b2626c4f36437/" target="_blank"><i class="flaticon-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade contactModal" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <form id="contactForm">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="5" placeholder="Enter your message"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="default-btn">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../js/appear.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/odometer.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/wow.min.js"></script>