<div class="event-2">
    <div class="navbar-area">
        <div class="container">
            <div class="navbar-menu">
                <div class="row align-items-center">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="logo">
                            <a routerLink="/event-2"><img src="assets/new-project/img/logo.png" alt="image"></a>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="burger-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <h5 style="color: white;">Does Your Roof Qualify? Take our 30-Second Solar Roof Survey & Find Out!</h5>
                        <p>Click The Button Below To Check Your Address In 30 Seconds.</p>

                        <div class="btn-box">
                            <button class="btn btn-primary"(click)= gettingStarted()>Get Started</button>
                        </div>

                        <app-countdown></app-countdown>
                    </div>
                </div>
            </div>
        </div>

        <ul class='slideshow'>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
        </ul>
    </div>
</div>

<app-sidebar></app-sidebar>

<app-notify></app-notify>