<div class="body"> 
<div class="container"> 
<div class="row">
    <!--
    <div class="logo">
       <img src="assets/img/logo-01.png" >
    </div>
    -->
</div>
<div class="row desktop-view">
   <div class="col-6">
        <div style="margin-top: 40px">
            <img src="assets/new-project/appointment-images/03.png" class="img-fluid" style="display: block;margin: 0 auto;">
       </div>
       <div style="margin-top: 60px" >
            <img src="assets/new-project/appointment-images/07.png"class="img-fluid" style="display: block;margin: 0 auto;"> 
       </div>
       <div style="margin-top: 50px" >
        <img src="assets/new-project/appointment-images/06.png" class="img-fluid"style="display: block;margin: 0 auto"> 
   </div>
   </div>

    <div class="col-6">
        <div style="margin-top:150px"> 
            <img src="assets/new-project/appointment-images/appointment-confirmed.png" class="img-fluid">
        </div>
    </div>
</div>

<div class="row mobile-view">
    <div class="col-12">
        <div style="margin-top: 40px">
             <img src="assets/new-project/appointment-images/03.png" class="img-fluid" style="display: block;margin: 0 auto;width:50%;">
        </div>
        <div style="margin-top: 20px" >
             <img src="assets/new-project/appointment-images/07.png"class="img-fluid" style="display: block;margin: 0 auto;width:50%;"> 
        </div>
        <div style="margin-top: 20px" >
         <img src="assets/new-project/appointment-images/06.png" class="img-fluid"style="display: block;margin: 0 auto;width:60%;"> 
        </div>

        <div style="margin-top:50px"> 
            <img src="assets/new-project/appointment-images/appointment-confirmed.png" class="img-fluid">
        </div>
    </div>
</div>

<!-- <div class="row"> 
    <div class="col-sm">
        <div style="margin-top: 40px">
            <img src="assets/appointment-images/03.png" class="img-responsive" style="display: block;margin: 0 auto;" width="250px">
       </div>
       <div style="margin-top: 60px" >
            <img src="assets/appointment-images/07.png" style="display: block;margin: 0 auto;"width="250px"> 
       </div>
       <div style="margin-top: 50px" >
        <img src="assets/appointment-images/06.png" style="display: block;margin: 0 auto;" width="250px"> 
   </div>
    </div>
    
    <div class="col-sm">
        <div>
            <img src="assets/appointment-images/01.png" width="300px">
       </div>
    </div>
</div> -->
</div>
</div>










<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>