<section class="podcast-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Build The Business Of Your Dreams With My Programs</h2>
        </div>

        <div class="overview-box">
            <div class="overview-image">
                <div class="image">
                    <img src="assets/new-project/blog-images/podcast-img1.jpg" alt="image">
                </div>
            </div>

            <div class="overview-content">
                <div class="content">
                    <h3>Social Creator</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Qu ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan facilisis.</p>
                    <a href="#" class="default-btn">Read More</a>
                </div>
            </div>
        </div>

        <div class="overview-box">
            <div class="overview-content">
                <div class="content">
                    <h3>The Podcast</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Qu ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan facilisis.</p>
                    <a href="#" class="default-btn">Read More</a>
                </div>
            </div>

            <div class="overview-image">
                <div class="image">
                    <img src="assets/new-project/blog-images/podcast-img2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../js/appear.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/odometer.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/wow.min.js"></script>