<div class="travel-2">

    <div class="coming-soon-area">
        <video loop muted autoplay poster="#" class="video-background">
            <source src="assets/video/world.mp4" type="video/mp4">
        </video>

        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="coming-soon-content">
                        <div class="logo">
                            <a routerLink="/travel-2"><img src="assets/new-project/img/logo-01.png" alt="image"></a>
                        </div>
                        
                        <app-countdown></app-countdown>
                        <h5 style="color: white;">Does Your Roof Qualify? Take our 30-Second Solar Roof Survey & Find Out!</h5>
                        <p>Click The Button Below To Check Your Address In 30 Seconds</p>
                        <div class="btn-box">
                            <button class="btn btn-primary" (click)= gettingStarted()>Get Started</button>
                            <button class="btn btn-light get-more-info-btn">Get More Info</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="particles-js"></div>

        <footer class="footer-area">
            <div class="container">
                <ul>
                    <li><span>Stay Connect:</span></li>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>

</div>

<app-sidebar></app-sidebar>

<app-notify></app-notify>