<section class="followers-area bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">What Do We Love</span>
            <h2> We strongly believe in strengthening our community. Gladly accepting new followers</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-followers-box">
                    <h3><span class="odometer" data-count="275">7</span></h3>
                    <span class="sub-title d-block">Instagram followers</span>
                    <a href="https://www.instagram.com/isolaros/" target="_blank"
                    title="Instagram" class="link"><i class="flaticon-instagram"></i> @isolaros</a>
                    <div class="line"></div>
                    <p>Oh snap! We're still a little new here, but we're always ready to drop new content that's important to you!</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-followers-box">
                    <h3><span class="odometer" data-count="125">0</span></h3>
                    <span class="sub-title d-block">Twitter followers</span>
                    <a href="https://twitter.com/iSolarOS1" target="_blank"
                    title="Instagram" class="link"><i class="flaticon-twitter"></i> @isolaros1</a>
                    <div class="line"></div>
                    <p>Follow us on twitter to catch the latest ways switching to solar helps our eco system.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-followers-box">
                    <h3><span class="odometer" data-count="178">7</span></h3>
                    <span class="sub-title d-block">Facebook followers</span>
                    <a href="https://www.facebook.com/isolaros/" target="_blank"
                    title="Instagram" class="link"><i class="flaticon-facebook"></i> @isolaros</a>
                    <div class="line"></div>
                    <p>Follow us on facebook to see what other homeowners are saving! It's not too late to utilize government rebates.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/new-project/blog-images/shape1.png" alt="image"></div>
</section>
<script src="../js/appear.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/odometer.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/wow.min.js"></script>