<div id="home" class="main-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="main-banner-content">
                    <h1>Hi, we're <br>iSolarOS</h1>
                    <p>Earth savers by day. Robotic engineers by night. <br>
                        <b>#savingtheplanet</b> one house at a time.</p>

                    <form>
                        <input type="text" class="input-newsletter" placeholder="Enter your email address">
                        <button type="submit">Join with us now</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="main-banner-image">
                    <img src="assets/new-project/blog-images/banner-blog.png" data-speed="0.02" data-revert="true" class="main-image wow fadeInUp" alt="image">

                    <div class="banner-shape" data-speed="0.02" data-revert="true">
                        <img src="assets/new-project/blog-images/line-bg1.png" class="wow fadeInLeft" alt="image">
                        <img src="assets/new-project/blog-images/line-bg2.png" class="wow fadeInRight" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/appear.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/odometer.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/wow.min.js"></script>