<section class="video-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="video-content">
                    <span class="sub-title">Showreel</span>
                    <h2>Want to stick out in a saturated market?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>

                    <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="popup-youtube video-btn"><i class="flaticon-play"></i> Watch Video</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="video-image">
                    <img src="assets/new-project/blog-images/video-img.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../js/appear.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/odometer.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/wow.min.js"></script>