<div class="doctor">
    <div class="coming-soon-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="coming-soon-content">
                        <div class="logo">
                            <a routerLink="/doctor"><img src="assets/new-project/img/logo-01.png" alt="image"></a>
                        </div>
    
                        <h5>Does Your Roof Qualify? Take our 30-Second Solar Roof Survey & Find Out!</h5>
                        <p>Click The Button Below To Check Your Address In 30 Seconds.</p>
    
                        <div class="btn-box">
                            <button class="btn btn-primary" (click)= gettingStarted()>Get Started <i class="fas fa-bell"></i></button>
                            <button class="btn btn-light get-more-info-btn">Get More Info <i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
    
                    <app-countdown></app-countdown>
                </div>
            </div>
        </div>
    
        <div class="shape1"><img src="assets/img/circle1.png" alt="image"></div>
        <div class="shape2"><img src="assets/img/circle2.png" alt="image"></div>
    </div>
</div>

<app-sidebar></app-sidebar>

<app-notify></app-notify>