<section id="savingthePlanet" class="social-statistics-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Saving the Planet</h2>
            <p>Many of us never took a second of our lives to think about "saving the planet"<br> 
                It doesn't affect us <b>"</b><i>RIGHT?!</i><b>"</b> .. until our generation met the year 2020</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-social-statistics-box">
                    <h3>8M</h3>
                    <span class="sub-title d-block">Facebook followers</span>
                    <a href="#" class="link"><i class="flaticon-facebook"></i> @alikamaya</a>
                    <div class="line"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-social-statistics-box">
                    <h3>1.2M</h3>
                    <span class="sub-title d-block">Pinterest followers</span>
                    <a href="#" class="link"><i class="flaticon-pinterest"></i> @alikamaya</a>
                    <div class="line"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-social-statistics-box">
                    <h3>58K</h3>
                    <span class="sub-title d-block">Linkedin followers</span>
                    <a href="#" class="link"><i class="flaticon-linkedin"></i> @alikamaya</a>
                    <div class="line"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/new-project/blog-images/shape1.png" alt="image"></div>
</section>
<script src="../js/appear.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/odometer.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/wow.min.js"></script>