<app-header></app-header>
<div class="gradient"></div>
<div class="setBg">
    <div>
        <div>
            <div>
                <h1>Disclaimer for isolaros.com</h1>
                <p>
                    If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at info@isolaros.com .
                </p>
                <h2>Disclaimers for www.isolaros.com</h2>
                <p>
                    All the information on this website - www.isolaros.com - is published in good faith and for general information purpose only. isolaros.com does not make any warranties about the completeness, reliability and accuracy of this information. Any action you
                    take upon the information you find on this website (www.isolaros.com), is strictly at your own risk. isolaros.com will not be liable for any losses and/or damages in connection with the use of www.isolaros.com.
                </p>
                <p>
                    From www.isolaros.com you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links
                    to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.
                </p>
                <p>
                    Please be also aware that when you leave www.isolaros.com, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging
                    in any business or uploading any information.
                </p>
                <h2>Consent</h2>
                <p>
                    By using our website, you hereby consent to our disclaimer and agree to its terms.
                </p>
                <h2>Update</h2>
                <p>
                    Should we update, amend or make any changes to this document, those changes will be prominently posted here.
                </p>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="#" class="brand"><img src="assets/new-project/img/logo-01.png" /></a>
                <ul class="contact-info list-unstyled">
                    <li>
                        <a href="mailto:admin@iSolarOS.com">Speak with a consultant</a>
                    </li>
                    <li class="big"><a href="tel:(800) 977 8796">(800) 977 8796</a></li>
                </ul>
                <a href="#" class="btn btn-primary navbar-btn">Sign and save today!</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 style="font-family: Roboto">Our Company</h5>
                <ul class="links list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <!--<li><a href="#">Careers</a></li>-->
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <!--<li><a href="#">Contact Us</a></li>-->
                    <li><a routerLink="/terms">Terms & Conditions</a></li>
                    <li><a routerLink="/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 style="font-family: Roboto">Sales Teams</h5>
                <ul class="links list-unstyled">
                    <li><a href="https://isolaros.io/">Login</a></li>
                    <!--<li><a href="#">About</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a routerLink = "terms">Terms & Conditions</a></li>
                    <li><a href="#">Accetable Use</a></li>-->
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 style="font-family: Roboto">Installer Support</h5>
                <ul class="links list-unstyled">
                    <li>Coming Soon</li>
                    <!--<li><a href="#">What we Do</a></li>
                    <li><a href="#">Why Choose Us</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Signup</a></li>
                    <li><a href="#">Login</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p style="font-family: Roboto">
                        Copyright &copy; 2020 iSolarOS. All rights reserved
                    </p>
                </div>
                <div class="col-md-5 text-right">
                    <ul class="social-icons list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/isolaros/" target="_blank" title="Facebook" style="padding-top: 2px"><i
                  class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/iSolarOS1" target="_blank" title="Twitter" style="padding-top: 2px"><i
                  class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/isolaros/" target="_blank" title="Instagram" style="padding-top: 2px"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.pinterest.com/9bfd4e04eb779fe24b2626c4f36437/" target="_blank" title="Pinterest" style="padding-top: 2px"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>